@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');

.main {
  display: grid;
  place-items: center;
  min-height: 90vh;
  width: '100%';
}

.main input[type='number'] {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
}

.main h3 {
  margin-top: 1rem;
}

.main option {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.submit {
  margin-top: 1rem;
  min-height: 7rem;
}

.main button {
  cursor: pointer;
  transition: 0.15s ease-in-out;
  order: 3;
  border-radius: 6px;
  border: none;
  padding: 0.75rem 3rem;
  color: #22262a;
  min-height: 1rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: #fec790;
  margin-bottom: 1rem;
}

.main button:hover {
  background-color: #fff;
  color: #fec790;
}

.main button:disabled {
  background-color: #ddd;
  color: #22262a;
  cursor: not-allowed;
}

.main .error {
  color: #626a72;
}

.main .reset {
  cursor: pointer;
  color: #22262a;
}

.main select {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  appearance: none;
  outline: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23777%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.main select:focus {
  border-color: #22262a;
}
